#post_contents
  %h1= @post.title
  %p= @post.content

  #comments
    %h2= @post.comments.count
    = render @post.comments

    %h3#comment_form_header Reply to thread
    = render "comments/form"

 
