!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Forum
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{ rel: "stylesheet", href: "http://fonts.googleapis.com/css?family=Lato:300,400,700", type: "text/css"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .row
        .col-md-10.col-md-offset-1
          = render 'layouts/header'

    .container
      #modal-window.modal.fade{:role => "dialog"}
      .row
        .col-md-8.col-md-offset-2
          #wrap_error
            #flash
              - flash.each do |type, message|
                .alert.alert-dismissable{ :class => twitterized_type(type) }
                  %button.close{"data-dismiss" => "alert", "aria-hidden" => "true"} ×
                  %p= message
          = yield

